:root {
    --clr-green: #81b29a;
    --clr-yellow: rgb(246, 225, 102);
    --clr-salmon: rgb(234, 134, 123);
    --clr-bg-lt: rgb(254, 223, 179);
    --clr-bg-yellow: rgb(247, 240, 170);
}

body {
    min-height: 100vh;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-green);
}

header {
    background-image: url("./images/ed-robertson-eeSdJfLfx1A-unsplash.jpg");
    background-size: cover;
    padding: 2rem 0rem;
    grid-area: header;
}

.header-container, .footer-container {
    display: flex;
    background-color: var(--clr-green);
    color: var(--clr-yellow);
    align-items: center;
    justify-content: space-around;
}

.header-container button {
    background-color: var(--clr-yellow);
    border-radius: 10px;
    padding: 3px 10px;
    border: none;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
}

.header-container button:hover {
    cursor: pointer;
    background-color: var(--clr-salmon);
}

h1 {
    font-size: 2rem;
}

aside {
    width: 250px;
    background-color: var(--clr-bg-yellow);

}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    grid-area: main;
}

h2 {
    font-size: 1.25rem;
    padding-bottom: 5px;
    text-decoration: underline;
}

.card {
    max-width: 300px;
    background-color: var(--clr-bg-lt);
    border-radius: 10px;
    padding: .5rem 1rem;
}

.by, .holder-pages {
    display: flex;
    gap: .5rem;
    padding-bottom: 5px;
}

.read {
    background-color: var(--clr-salmon);
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
}

.read:hover {
    cursor: pointer;
    background-color: var(--clr-yellow);
}

footer {
    background-image: url('./images/ugur-akdemir-XT-o5O458as-unsplash.jpg');
    background-size: cover;
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: 2rem 0;
    grid-area: footer;
}

.footer-container {
    flex: 1;
    justify-content: flex-start;
    gap: .5rem;
    padding: 0 1rem;
}

.footer-container a {
    text-decoration: none;
    color: black;
}

@media (min-width: 600px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer"
        ;
    }
    main {
        justify-content: space-around;
    }
}